*{
	margin:0px;padding:0px;width:100%;
}
.h-title{
	
	height:30px;padding:5px;background-color:brown;color:white;
}

.lang-divide{
	height:30px;text-shadow:2px 2px 2px gray;font-weight:bold;font-size:18px;padding-left:20px;font-style:italic;padding-top:5px;
}

.paragraph{

	background-color:orange;opacity:0.8;color:white;padding:10px;font-weight:bold;font-size:18px;
}

.second-name{
	
	background-color:#100;opacity:0.8;color:white;padding:5px;font-weight:bold;font-size:12px;

}